# Do not share these files

# No input files except for the sample
*.txt
!article-tolstoy.txt
!news-burglary.txt
!news-handgun.txt

# No .class file or JAR files
bin/
lib/

# No misc stuff
.idea/
*.iml
*.sh
Makefile
